/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.btnNewSurvey {
    position: relative;
    height: 40px;
    max-width: 100%;
}

.btnNewSurvey input {
    position: absolute;
    right: 0px;
    padding: 5px 7.5px 5px 7.5px;
}

.newSurvey {
    background-color: #FFF;
    max-width: 1000px
}

.newForm {
    margin-left: auto;
    margin-top: 10px;
    border: 1px solid #D1D1D1;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.newForm .form-control {
    width: 95%;
    border: 1px solid #FFF;
    box-shadow: none;
}

.newForm .form-control:hover {
    border: 1px solid #CCC;
}

.newQuest{
    position: relative;
    margin-top: 10px;
    background-color: #FFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #D1D1D1;
    padding: 10px;
}

.newQuest input[type=text] {
    width: 100%;
}

.summaryContainer {
    position: absolute;
    width: 90vw;
    height: 100vh;
    left: 5vw;
    right: 5vw;
}

.btnPart .btnSurvey:last-child {
    float: right;
}

.btnPart {
    height: 30px;
    margin: 15px 0px 15px 15px;
}

.subType {
    margin-left: 27%;
}

.subType a{
    color: red;
    outline: none;
    text-decoration: none;
}

.newQuest input, .newQuest select, .newQuest label {
    margin-top: 5px;
    margin-bottom: 5px;
}

.subOptions {
    width: 185px !important;
}

.btnSurvey {
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    margin-right: 16px;
    height: 27px;
    line-height: 27px;
    min-width: 54px;
    outline: 0px none;
    padding: 0px 8px;
    box-shadow: none;
    background-color: #4D90FE;
    background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
    border: 1px solid #3079ED;
    color: #FFF;
}

.btnSurvey:hover {
    background-color: #4D9FFF;
    cursor: pointer;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%;
    height: 80vh;
}

.ngCell  {
  display : table-cell;
  height: auto !important;
  overflow:visible;
  position: static;
}

.ngRow {
  display : table-row;
  height: auto !important;
  position: static;
}

.ngCellText {
  height: auto !important;
  white-space: normal;
  overflow: visible;
  text-align: center;
}

.ngColMenu {
    color: black;
    border: 2px solid black;
    background-color: rgb(234, 234, 234);
}

.ngHeaderButton {
    background-color: #3A9BED;
}

.ngHeaderText {
    white-space: normal;
    height: 55px !important;
    overflow-y: visible;
    overflow-x: hidden;
    text-align: center;
}

.ngHeaderGrip, .ngVerticalBarVisible {
    height: 75px;
}

.ngViewport {
    width: 101% !important;
}

@media (max-width:767px){
    .subType {
        margin-left: 15px;
    }
}
