<!DOCTYPE html>
<html lang="en" ng-app="index">
    <head>
    
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Survey</title>

        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Main page css-->
        <link href="css/index.css" rel="stylesheet">        
        
    </head>

    <body ng-app='index'>
        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand" href>Survey Project</a>
                </div>
                
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li ng-class="{ active: isSelected(2)}" ng-show="loggedIn"><a href ng-click="selectNav(2)">Survey</a></li>
                        <li ng-class="{ active: isSelected(1) || isSelected(3)}" ng-hide="loggedIn"><a href ng-click="selectNav(1)">Login</a></li>
                        <li ng-class="{ active: isSelected(0)}" ng-show="loggedIn"><a href ng-click="selectNav(0); init()">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Begin page content -->
        <div class="container">
            <survey-list ng-show="isSelected(2)"></survey-list>
            <login ng-show="isSelected(1)" ></login>
            <signup ng-show="isSelected(3)" ></signup>
        </div>
        
        <!-- End page content -->
        <div class="footer">
            <div class="container">
                <p class="text-muted">Place sticky footer content here.</p>
            </div>
        </div>
        
    </body>
    
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/jquery-1.11.1.min.js"></script>
    <script src="javascripts/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="javascripts/index.js"></script>
    <script src="controllers/logincontroller.js"></script>
    <script src="controllers/signupcontroller.js"></script>
    <script src="controllers/surveylistcontroller.js"></script>
    <script src="directives/loginDirective.js"></script>
    <script src="directives/surveyListDirective.js"></script>
    <script src="directives/signupDirective.js"></script>
</html>