<div ng-controller = "TakeSurveyController" class="takeSurvey">
    <h2>Take Survey</h2>
	
	<div class=""><div class="">
		<h1 class="" dir="ltr">{{survey.title}}</h1>
		<div class="" dir="ltr">{{survey.description}}</div></div>
	</div>
    
    <br />
    <br />
    
	<form>
		<div class="" ng-repeat="question in survey.questions" ng-init="answerIndex = $index" >
			<label>
			<div class="">{{answerIndex + 1 + ") " + question.name}}</div>
            </label>
			<div class="tab">{{question.subtext}}</div>
			

			<ul ng-show="{{question.type == 'Multiple Choice'}}">
				<li class="radio" ng-repeat="radio in question.subtype">
					<label>
						<input type="radio" ng-model="answer[answerIndex].radio" name="{{'q' + (answerIndex + 1)}}" value="{{radio.name}}">
						<span class="">{{radio.name}}</span>
					</label>
                    <br />
				</li> 
			</ul>
            
            <ul ng-show="{{question.type == 'Checkboxes'}}">
				<li class="checkbox" ng-repeat="checkbox in question.subtype" ng-init="checkboxvalue = checkbox.name">
					<label>
						<input type="checkbox"  ng-model="answer[answerIndex].checkbox[checkboxvalue].selected" value="{{checkbox.name}}">
						<span class="">{{checkbox.name}}</span>
					</label>
                    <br />
				</li> 
			</ul>
            
            <div class="tab" ng-show="{{question.type == 'Text'}}">
                <textarea class="resizable form-control" rows="2" type="textarea" ng-model="answer[answerIndex].textbox">question.$index</textarea>
            </div>
            
            <br />
		</div>
		
		<input type="submit" class="btn btn-primary" value="Submit" ng-click="submitAnswer(answer)"/>
	</form>
</div>

