
<div ng-controller = "TakeSurveyController" class="takeSurvey">
    <h2>Take Survey</h2>
	
	<div class=""><div class="ss-form-heading">
		<h1 class="" dir="ltr">Untitled form</h1>
		<div class="ss-form-desc ss-no-ignore-whitespace" dir="ltr">asdasd</div></div>
	</div>
	<form>
		<div class="">
			<label>
			<div class="">vxzvzvxvc</div>
			<div class="">xczzcxc</div>
			</label>

			<ul class="">
				<li class="radio">
					<label>
						<input type="radio" name="" value="rfasd">
						<span class="ss-choice-label">rfasd</span>
					</label>
				</li> 
			</ul>
		</div>
	</form>
</div>

