<div ng-controller = "TakeSurveyController" class="takeSurvey">
    <h2>Take Survey</h2>
	
	<div class=""><div class="">
		<h1 class="" dir="ltr">{{survey.title}}</h1>
		<div class="" dir="ltr">{{survey.description}}</div></div>
	</div>
    
    <br />
    <br />
    
	<form>
		<div class="" ng-repeat="question in survey.questions" >
			<label>
			<div class="">{{$index + 1 + ") " + question.name}}</div>
            </label>
			<div class="tab">{{question.subtext}}</div>
			

			<ul class="" ng-show="{{question.type == 'Multiple Choice'}}">
				<li class="radio" ng-repeat="radio in question.subtype">
					<label>
						<input type="radio" name="" value="{{radio.name}}">
						<span class="">{{radio.name}}</span>
					</label>
                    <br />
				</li> 
			</ul>
            
            <ul class="" ng-show="{{question.type == 'Checkboxes'}}">
				<li class="checkbox" ng-repeat="checkbox in question.subtype">
					<label>
						<input type="checkbox" name="" value="{{checkbox.name}}">
						<span class="">{{checkbox.name}}</span>
					</label>
                    <br />
				</li> 
			</ul>
            
            <div class="tab" ng-show="{{question.type == 'Text'}}">
                <textarea class="resizable form-control" rows="2" type="textarea" ng-model="answer.name"></textarea>
            </div>
            
            <br />
		</div>
	</form>
</div>

