<h2>Login</h2>
<hr/>
<form class="form-horizontal loginClip" role="form" ng-controller="LoginController as loginCtrl" ng-submit="loginSubmit()">
    <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-6 col-md-4">
            <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="login.email" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-6 col-md-4">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="login.password" required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-primary" value="Submit" ng-disabled="loginCtrl.$invalid" />
            <input type="button" class="btn btn-primary" ng-click="selectNav(3);" value = "Sign Up" />
        </div>
    </div>
    <p ng-show="err" class="alert alert-warning">{{err}}</p>
</form>

