<h2>Sign Up</h2>
<hr/>
<form class="form-horizontal" role="form" ng-controller="SignUpController" ng-submit="signupSubmit()">
    <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-4">
            <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="signup.email" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-4">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="signup.password" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputName" class="col-lg-2 control-label">Name</label>
        <div class="col-lg-4">
            <input type="text" pattern="[A-Za-z]{1,}" class="form-control" id="inputName" placeholder="Name" ng-model="signup.name" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputType" class="col-lg-2 control-label">Type</label>
        <div class="col-lg-4">
            <select class="form-control" id="inputType" ng-model="signup.type">
                <option>Student</option>
                <option>Teacher</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </div>
    <p ng-show="err" class="alert alert-warning">{{err}}</p>
</form>
