<div class="page-header" ng-controller="ListController as listCtrl">
    <h3>Survey List</h3>
    <h4>Welcome {{userName}}!</h4>
    <p ng-show="userType">Here are the surveys you created.</p>
    <p ng-hide="userType">Here are the surveys you can take.</p>
    <div class = "btnNewSurvey">
        <input type="button" class="btn btn-primary" ng-show = "userType" ng-click="newSurvey();" value = "New Survey" />
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Total Taken</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="sList in surveyList">
            <th>{{sList.title}}</th>
            <th>{{sList.description}}</th>
            <th>{{sList.response_number}}</th>
            <th><input ng-hide="userType" type="button" class="btn btn-primary" ng-click="takeSurvey(sList.id);" value = "Take Survey" /></th>
            </tr>
        </tbody>
    </table>
</div>